include mixins/_btns
doctype html
html
	include includes/_heads
	body
		include includes/_nav
		#wrapper
			include includes/home/_bg
			include includes/home/_home	
		include includes/_footer


		include includes/_scripts