doctype html
html

	head
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
		title Approved by Pablo.
		meta( name='description', content="A(by)P is a new model for the gallery world that harnesses the energy of the ephemeral exhibition moment and that makes art and ideas accessible to all." )
		meta(name='keywords', content='Gallery, creative, exhibition, art, concepts, ideas, energy, interactive, futuristic, shapes')
		meta( name="robots", content="noindex, nofollow" )
		meta( name="robots", content=" noarchive" )
		meta( name='viewport', content='width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale= 0.5' )

		meta( property="og:url", content="http://approvedbypablo.com")
		meta( property="og:title", content="Approved by Pablo.")
		meta( property="og:description", content="A(by)P is a new model for the gallery world that harnesses the energy of the ephemeral exhibition moment and that makes art and ideas accessible to all.")
		meta( property="og:image", content="http://approvedbypablo.com/img/share.png" )

		meta( property="og:type", content="website")

		meta( itemprop='name', content='Approved by Pablo.')
		meta( itemprop='description', content='A(by)P is a new model for the gallery world that harnesses the energy of the ephemeral exhibition moment and that makes art and ideas accessible to all.')
		meta( itemprop='image', content="http://approvedbypablo.com/img/share.png" )

		link( rel="shortcut icon", type="image/png", href="favicon.ico" )

		
		link( rel='stylesheet', type="text/css", href='css/main.css' )
		link( rel='stylesheet', type="text/css", href='css/lightbox.css' )

		script( src='scripts/vendor/modernizr.custom.25133.js' )

	body