include mixins/_btns
doctype html
html
	include includes/_heads
	body
		include includes/home/_bg
		#wrapper
			include includes/home/_home
			include includes/_nav
			include includes/_footer


		include includes/_scripts