.serviciosHold.safeArea.center-all
	.serv-hold.thirds.tercios
		a(href="#")
			.servicio_single.servs_btn#ingenieria_servicios
				+btns_frame({elId:'ingenieria_servicios', info:'Diseño e Ingeiería'})
		a(href="#")
			.servicio_single.servs_btn#urbanizacion_servicios
				+btns_frame({elId:'urbanizacion_servicios', info:'Urbanización'})
	.serv-hold.thirds.tercios
		a(href="#")
			.servicio_big.servs_btn#construccion_servicios
				+btns_frame({elId:'construccion_servicios', info:'Construcción'})
	.serv-hold.thirds.tercios
		a(href="#")
			.servicio_single.servs_btn#llevame_servicios
				+btns_frame({elId:'llevame_servicios', info:'Proyectos llevame de la mano'})
		a(href="#")
			.servicio_single.servs_btn#maquinaria_servicios
				+btns_frame({elId:'maquinaria_servicios', info:'Maquinaria Pesada'})