@font-face {
  font-family: "bold";
  src: url("../assets/fonts/niks-bold.eot");
  src: url("../assets/fonts/niks-bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/niks-bold.woff") format("woff"), url("../assets/fonts/niks-bold.ttf") format("truetype"), url("../assets/fonts/niks-bold.svg#ywftsvg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "bolditalic";
  src: url("../assets/fonts/niks-bold-italic.eot");
  src: url("../assets/fonts/niks-bold-italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/niks-bold-italic.woff") format("woff"), url("../assets/fonts/niks-bold-italic.ttf") format("truetype"), url("../assets/fonts/niks-bold-italic.svg#ywftsvg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "light";
  src: url("../assets/fonts/niks-light.eot");
  src: url("../assets/fonts/niks-light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/niks-light.woff") format("woff"), url("../assets/fonts/niks-light.ttf") format("truetype"), url("../assets/fonts/niks-light.svg#ywftsvg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "light-italic";
  src: url("../assets/fonts/niks-light-italic.eot");
  src: url("../assets/fonts/niks-light-italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/niks-light-italic.woff") format("woff"), url("../assets/fonts/niks-light-italic.ttf") format("truetype"), url("../assets/fonts/niks-light-italic.svg#ywftsvg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "normal";
  src: url("../assets/fonts/niks-normal.eot");
  src: url("../assets/fonts/niks-normal.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/niks-normal.woff") format("woff"), url("../assets/fonts/niks-normal.ttf") format("truetype"), url("../assets/fonts/niks-normal.svg#ywftsvg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "normal-italic";
  src: url("../assets/fonts/niks-normal-italic.eot");
  src: url("../assets/fonts/niks-normal-italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/niks-normal-italic.woff") format("woff"), url("../assets/fonts/niks-normal-italic.ttf") format("truetype"), url("../assets/fonts/niks-normal-italic.svg#ywftsvg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "thin";
  src: url("../assets/fonts/niks-thin.eot");
  src: url("../assets/fonts/niks-thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/niks-thin.woff") format("woff"), url("../assets/fonts/niks-thin.ttf") format("truetype"), url("../assets/fonts/niks-thin.svg#ywftsvg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Niks-ThinItalic";
  src: url("../assets/fonts/niks-thin-italic.eot");
  src: url("../assets/fonts/niks-thin-italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/niks-thin-italic.woff") format("woff"), url("../assets/fonts/niks-thin-italic.ttf") format("truetype"), url("../assets/fonts/niks-thin-italic.svg#ywftsvg") format("svg");
  font-weight: normal;
  font-style: normal; }
.holderBtn, .mainImg, .hoverInfo, .squareHold {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.hoverInfo {
  overflow: hidden; }
  .hoverInfo h3 {
    color: white;
    text-align: center;
    margin-top: 20%; }
  .hoverInfo .mainTitle {
    width: 100%;
    height: 35px;
    position: relative;
    margin-top: 25%; }
    .hoverInfo .mainTitle h3 {
      color: white;
      text-align: center; }
  .hoverInfo .bottom_part {
    width: 100%;
    height: 41%;
    position: absolute;
    bottom: -40px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.58);
    opacity: 0; }
    .hoverInfo .bottom_part .lineOrange {
      width: 65px;
      height: 2px;
      background-color: #ec6e05;
      position: relative;
      margin-top: 2px;
      margin-left: 23px;
      margin-bottom: 13px; }
    .hoverInfo .bottom_part .copies {
      width: 390px;
      height: 48px;
      position: relative;
      margin-left: 23px; }
      .hoverInfo .bottom_part .copies p {
        color: white;
        font-size: 16px;
        line-height: 18px; }
    .hoverInfo .bottom_part .conoce_mas {
      width: 290px;
      position: relative;
      margin-left: 23px; }
      .hoverInfo .bottom_part .conoce_mas p {
        color: #ec6e05;
        font-family: "normal-italic";
        font-size: 16px; }

.squareHold .lines {
  position: absolute;
  background-color: white; }
.squareHold .bottom-line, .squareHold .top-line {
  height: 8px;
  width: 0%; }
.squareHold .left-line, .squareHold .right-line {
  width: 8px;
  height: 0%; }
.squareHold .left-line {
  left: 0;
  top: 0; }
.squareHold .bottom-line {
  bottom: 0;
  left: 0; }
.squareHold .right-line {
  bottom: 0;
  right: 0; }
.squareHold .top-line {
  top: 0;
  right: 0; }

nav {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: white;
  overflow: hidden; }
  nav p {
    color: white; }
  nav #logo {
    width: 152px;
    height: 76px;
    float: left;
    position: relative;
    margin-top: 20px;
    background-image: url("../assets/images/logo.png");
    background-position: left; }
  nav .wrapp-nav {
    width: 892px;
    height: 100%;
    position: absolute;
    right: 0px; }
    nav .wrapp-nav .links {
      width: 100%;
      height: 100%;
      position: relative;
      float: right;
      display: block; }
      nav .wrapp-nav .links .innerLinks {
        position: relative;
        padding-top: 40px;
        padding-left: 10px;
        padding-right: 10px;
        float: left;
        margin-right: 20px;
        height: 60px;
        opacity: 1;
        cursor: pointer; }
        nav .wrapp-nav .links .innerLinks p {
          color: #0a152a;
          position: relative; }
        nav .wrapp-nav .links .innerLinks:hover .hoverColor {
          height: 100%; }
        nav .wrapp-nav .links .innerLinks .hoverColor {
          width: 100%;
          height: 0%;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: #ec6e05; }

.top-hold {
  width: 100%;
  height: 50%;
  position: relative; }
  .top-hold .halfs {
    height: 100%; }
    .top-hold .halfs#grupo_home {
      background-image: url("../assets/images/gui/bg_home/construyendo-bg.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .top-hold .halfs#servicio_home {
      background-image: url("../assets/images/gui/bg_home/servicio-bg.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .top-hold .halfs .hold_visible {
      width: 350px;
      height: 95px;
      position: absolute;
      bottom: 50px;
      left: 50px; }
      .top-hold .halfs .hold_visible h2 {
        font-size: 45px;
        color: white;
        line-height: 45px; }
    .top-hold .halfs .hold_hover {
      width: 280px;
      height: 170px;
      position: absolute;
      top: 50px;
      left: 30px;
      opacity: 0; }
      .top-hold .halfs .hold_hover .topInfo {
        width: 230px;
        height: 70px;
        position: relative; }
        .top-hold .halfs .hold_hover .topInfo h3 {
          line-height: 30px;
          color: white; }
      .top-hold .halfs .hold_hover .lineMidle {
        width: 50px;
        height: 4px;
        position: relative;
        background-color: #ec6e05;
        margin-bottom: 12px; }
      .top-hold .halfs .hold_hover .extractInfo {
        width: 100%;
        height: 60px;
        position: relative;
        margin-bottom: 5px; }
        .top-hold .halfs .hold_hover .extractInfo p {
          color: white;
          font-size: 16px;
          line-height: 18px; }
      .top-hold .halfs .hold_hover .conoce_mas {
        width: 100px;
        height: 15px;
        position: relative; }
        .top-hold .halfs .hold_hover .conoce_mas p {
          color: #ec6e05;
          font-family: "normal-italic"; }
      .top-hold .halfs .hold_hover .anima-type {
        position: relative;
        top: 10px;
        opacity: 0; }

.bottom-hold {
  width: 100%;
  height: 50%;
  position: relative; }
  .bottom-hold .thirds {
    height: 50%; }
    .bottom-hold .thirds:nth-child(odd) {
      background-color: white; }

#portafolio_home-btn, #portafolio_home-hover {
  background-image: url("../assets/images/gui/bg_home/portafolio.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#proyectos_home-btn, #proyectos_home-hover {
  background-image: url("../assets/images/gui/bg_home/proyectos.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#desarrollo_home-btn, #desarrollo_home-hover {
  background-image: url("../assets/images/gui/bg_home/desarrollo.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#bolsa_home-btn, #bolsa_home-hover {
  background-image: url("../assets/images/gui/bg_home/bolsa.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#blog_home-btn, #blog_home-hover {
  background-image: url("../assets/images/gui/bg_home/blog.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#contacto_home-btn, #contacto_home-hover {
  background-image: url("../assets/images/gui/bg_home/contacto.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#portafolio_home-hover, #proyectos_home-hover, #desarrollo_home-hover, #bolsa_home-hover, #blog_home-hover, #contacto_home-hover {
  background-color: #2650a3;
  background-blend-mode: multiply;
  opacity: 0; }

.proyectsBtns {
  height: 33.3%; }

#energia_proyectos-btn, #energia_proyectos-hover {
  background-image: url("../assets/images/gui/proyectos/energia.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#tileProyectos {
  width: 66.6%;
  float: left;
  position: relative; }

#tileProyectos-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/images/gui/proyectos/tileProyectos.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#corporativos_proyectos-btn, #corporativos_proyectos-hover {
  background-image: url("../assets/images/gui/proyectos/corporativo.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#mision_proyectos-btn, #mision_proyectos-hover {
  background-image: url("../assets/images/gui/proyectos/mision.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#naves_proyectos-btn, #naves_proyectos-hover {
  background-image: url("../assets/images/gui/proyectos/naves.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#distribucion_proyectos-btn, #distribucion_proyectos-hover {
  background-image: url("../assets/images/gui/proyectos/distribucion.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#urbanizacion_proyectos-btn, #urbanizacion_proyectos-hover {
  background-image: url("../assets/images/gui/proyectos/urbanizacion.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#parques_proyectos-btn, #parques_proyectos-hover {
  background-image: url("../assets/images/gui/proyectos/parques.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#energia_proyectos-hover, #mision_proyectos-hover, #corporativos_proyectos-hover, #naves_proyectos-hover, #distribucion_proyectos-hover, #urbanizacion_proyectos-hover, #parques_proyectos-hover {
  background-color: #2650a3;
  background-blend-mode: multiply;
  opacity: 0; }

.infoThis {
  width: 100%;
  height: 127px;
  position: relative; }
  .infoThis h1 {
    font-size: 40px;
    position: relative;
    text-align: center;
    top: 75px;
    color: white; }

.line {
  width: 150px;
  height: 4px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 5px;
  background-color: #ec6e05; }

.txtInfo {
  width: 100%;
  height: 20px;
  position: relative; }
  .txtInfo p {
    text-align: center;
    color: white;
    font-size: 14px; }

.serv-hold {
  height: 100%; }
  .serv-hold .servicio_single {
    width: 100%;
    height: 50%;
    position: relative; }
    .serv-hold .servicio_single .hoverInfo h3 {
      margin-top: 40%; }
  .serv-hold #ingenieria_servicios .hoverInfo h3 {
    width: 40%;
    margin-top: 35%; }
  .serv-hold .servicio_big {
    height: 100%; }
    .serv-hold .servicio_big .hoverInfo h3 {
      margin-top: 80%; }

#ingenieria_servicios-btn, #ingenieria_servicios-hover {
  background-image: url("../assets/images/gui/servicio/ingenieria.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#urbanizacion_servicios-btn, #urbanizacion_servicios-hover {
  background-image: url("../assets/images/gui/servicio/urbanizacion.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#construccion_servicios-btn, #construccion_servicios-hover {
  background-image: url("../assets/images/gui/servicio/construccion.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#llevame_servicios-btn, #llevame_servicios-hover {
  background-image: url("../assets/images/gui/servicio/llevame.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#maquinaria_servicios-btn, #maquinaria_servicios-hover {
  background-image: url("../assets/images/gui/servicio/maquinaria.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#ingenieria_servicios-hover, #urbanizacion_servicios-hover, #construccion_servicios-hover, #llevame_servicios-hover, #maquinaria_servicios-hover {
  background-color: #2650a3;
  background-blend-mode: multiply;
  opacity: 0; }

footer {
  width: 100%;
  height: 80px;
  position: relative;
  background-color: #0a152a; }
  footer .safeArea {
    position: relative; }
    footer .safeArea .legals {
      width: 280px;
      padding-left: 15px;
      padding-top: 30px;
      float: left; }
      footer .safeArea .legals p {
        font-size: 10px;
        color: white; }
    footer .safeArea .logos {
      width: 640px;
      height: 36px;
      position: relative;
      float: left;
      margin-top: 20px;
      margin-left: 15px; }
      footer .safeArea .logos .img-footer {
        height: 100%;
        float: left;
        position: relative;
        background-position: bottom;
        background-repeat: no-repeat;
        margin-right: 29px; }
        footer .safeArea .logos .img-footer#ft_btn-1 {
          width: 108px;
          background-image: url("../assets/images/gui/footer/logo1.png"); }
        footer .safeArea .logos .img-footer#ft_btn-2 {
          width: 48px;
          background-image: url("../assets/images/gui/footer/csm.png"); }
        footer .safeArea .logos .img-footer#ft_btn-3 {
          width: 57px;
          background-image: url("../assets/images/gui/footer/sp.png"); }
        footer .safeArea .logos .img-footer#ft_btn-4 {
          width: 80px;
          background-image: url("../assets/images/gui/footer/groma.png"); }
        footer .safeArea .logos .img-footer#ft_btn-5 {
          width: 81px;
          background-image: url("../assets/images/gui/footer/nersu.png"); }
        footer .safeArea .logos .img-footer#ft_btn-6 {
          width: 56px;
          background-image: url("../assets/images/gui/footer/copolis.png");
          margin-right: 0; }
    footer .safeArea .sociales {
      width: 110px;
      height: 28px;
      position: relative;
      float: right;
      margin-top: 22px;
      margin-right: 30px; }
      footer .safeArea .sociales .btn-social {
        width: 29px;
        height: 29px;
        position: relative;
        float: left;
        margin-left: 11px; }
        footer .safeArea .sociales .btn-social img {
          width: 100%;
          height: 100%; }
        footer .safeArea .sociales .btn-social:hover img {
          opacity: 0.7; }
      footer .safeArea .sociales .fst-soc {
        margin-left: 0px; }

html, body {
  margin: 0 auto;
  min-width: 1280px;
  width: 100%;
  min-height: 754px;
  height: 100%;
  font-family: "normal";
  overflow: scroll; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
  color: #1c5ea6;
  text-decoration: none; }

p {
  margin: 0 auto;
  font-size: 20px;
  line-height: 35px; }

sub {
  font-size: 10px;
  top: -8px;
  position: relative;
  color: white;
  left: -3px;
  font-family: "normal"; }

h2 {
  font-family: "normal";
  font-size: 33px;
  margin: 0 auto; }

h3 {
  font-family: "normal";
  font-size: 30px;
  margin: 0 auto; }

h1 {
  text-align: left;
  margin: 0;
  font-size: 60px;
  color: white;
  font-family: "normal"; }

ul {
  padding-left: 22px;
  list-style: none; }

ul li {
  font-family: "normal";
  font-size: 13px;
  line-height: 19px;
  text-indent: -5px; }

input {
  outline: none;
  border: none; }

.autoalpha-0 {
  opacity: 0;
  visibility: hidden; }

.align-center {
  text-align: center; }

.center-all,
.center-horizontal,
.center-vertical {
  position: absolute;
  margin: auto; }

.center-all,
.center-horizontal {
  left: 0;
  right: 0; }

.center-all,
.center-vertical {
  top: 0;
  bottom: 0; }

.btn-borders {
  border-radius: 5px; }

.hold-bg {
  min-width: 1280px;
  width: 100%;
  min-height: 754px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .hold-bg .top-bg {
    width: 100%;
    height: 50%;
    position: relative;
    background: url("../assets/images/gui/bg_home/top-bg-home.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .hold-bg .bttm-bg {
    width: 100%;
    height: 50%;
    position: relative;
    background-color: #0a152a; }

.medios {
  width: 50%;
  float: left;
  position: relative; }

.tercios {
  width: 33.33%;
  float: left;
  position: relative; }

.tercios-big {
  width: 66.6%;
  float: left;
  position: relative; }

#wrapper {
  width: 100%;
  min-height: 754px;
  height: 100%;
  position: relative;
  margin: 0 auto; }

.safeArea {
  width: 1280px;
  height: 100%; }
