footer
	.safeArea.center-horizontal
		.legals
			p Aviso de Privacidad Rio Lyss 2390 Col San Pedro
		.logos
			a(href="#", target="_blank")
				.img-footer#ft_btn-1
			a(href="#", target="_blank")
				.img-footer#ft_btn-2
			a(href="#", target="_blank")
				.img-footer#ft_btn-3
			a(href="#", target="_blank")
				.img-footer#ft_btn-4
			a(href="#", target="_blank")
				.img-footer#ft_btn-5
			a(href="#", target="_blank")
				.img-footer#ft_btn-6
		.sociales
			a(href="", target="_blank")
				.btn-social.fst-soc
					img(src="assets/images/gui/footer/fb.png")
			a(href="", target="_blank")
				.btn-social
					img(src="assets/images/gui/footer/twt.png")
			a(href="", target="_blank")
				.btn-social
					img(src="assets/images/gui/footer/link.png")