head
	meta( charset='utf-8' )
	meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )

	title Maiz | Edificaciones
	meta( name='description', content="Maiz Edificaciones es una empresa de clase mundial dedicada a construir buscando opciones que permitan elevar los estándares de calidad de vida de los habitantes de las comunidades donde realiza sus proyectos." )
	meta(name='keywords', content='Edificios, Edificaciones, Transforma, Construcción, Constructora, Monterrey, México, Maquinaria Pesada, Industria, Desarrollo Inmobiliario')

	meta( name='viewport', content='width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale= 0.5' )

	meta( property="og:url", content="http://maiz.com")
	meta( property="og:title", content="Maiz | Edificaciones")
	meta( property="og:description", content="Maiz Edificaciones es una empresa de clase mundial dedicada a construir buscando opciones que permitan elevar los estándares de calidad de vida de los habitantes de las comunidades donde realiza sus proyectos.")
	meta( property="og:image", content="http://maiz.com/img/share.png" )

	meta( property="og:type", content="website")

	meta( itemprop='name', content='Maiz | Edificaciones')
	meta( itemprop='description', content='Maiz Edificaciones es una empresa de clase mundial dedicada a construir buscando opciones que permitan elevar los estándares de calidad de vida de los habitantes de las comunidades donde realiza sus proyectos.')
	meta( itemprop='image', content="http://maiz.com/img/share.png" )

	link( rel="shortcut icon", type="image/png", href="favicon.ico" )
	link( rel='stylesheet', type="text/css", href='http://hoe.mx/Qa-s/maiz/css/main.css' )
	script( src='http://hoe.mx/Qa-s/maiz/scripts/vendor/modernizr.custom.25133.js' )
