nav
	.safeArea.center-all
		#logo
		.openMe
		.wrapp-nav
			.links
				+btns_nav({link:'proyectos', name:'Proyectos'})
				+btns_nav({link:'obras', name:'Obras'})
				+btns_nav({link:'servicio', name:'Servicio'})
				+btns_nav({link:'grupo', name:'Grupo'})
				+btns_nav({link:'desarrollo', name:'Desarrollo'})
				+btns_nav({link:'blog', name:'Blog'})
				+btns_nav({link:'bolsa', name:'Bolsa'})
				+btns_nav({link:'contacto', name:'Contacto'})
			