nav
	.safeArea.center-all
		#logo
		.openMe
		.wrapp-nav
			.links
				.innerLinks
					p Proyectos
				.innerLinks
					p Obras
				
				.innerLinks
					p Servicio
				.innerLinks
					p Grupo 
				
				.innerLinks
					p Desarrollo
				.innerLinks
					p Blog
				.innerLinks
					p Bolsa
				.innerLinks
					p Contacto