script(type="text/javascript", src="scripts/vendor/jquery-2.1.1.min.js")
script(type="text/javascript", src="scripts/vendor/jquery.easing.1.3.js")
script(type="text/javascript", src="scripts/vendor/TweenMax.min.js")

script(type="text/javascript", src="scripts/vendor/vendor.bundle-min.js")
script(type="text/javascript", src="scripts/main-min.js")