.safeArea.center-all
	.top-hold
		.halfs#grupo_home
		.halfs#servicio_home
	.bottom-hold
		.thirds#obras_home
		.thirds#proyectos_home
		.thirds#desarrollo_home
		.thirds#trabajo_home
		.thirds#blog_home
		.thirds#contacto_home
