.safeArea.center-all
	.top-hold
		.halfs.medios#grupo_home
		.halfs.medios#servicio_home
	.bottom-hold
		.thirds.tercios#obras_home
		.thirds.tercios#proyectos_home
		.thirds.tercios#desarrollo_home
		.thirds.tercios#trabajo_home
		.thirds.tercios#blog_home
		.thirds.tercios#contacto_home
