.safeArea.center-all
	.top-hold
		.halfs.medios#grupo_home
		.halfs.medios#servicio_home
	.bottom-hold
		.thirds.tercios#portafolio_home
			+btns_frame({elId:'portafolio_home', info:'Portafolio'})
		.thirds.tercios#proyectos_home
			+btns_frame({elId:'proyectos_home', info:'Proyectos'})
		.thirds.tercios#desarrollo_home
			+btns_frame({elId:'desarrollo_home', info:'Desarrollo'})
		.thirds.tercios#bolsa_home
			+btns_frame({elId:'bolsa_home', info:'Bolsa de trabajo'})
		.thirds.tercios#blog_home
			+btns_frame({elId:'blog_home', info:'Blog'})
		.thirds.tercios#contacto_home
			+btns_frame({elId:'contacto_home', info:'Contacto'})
