.safeArea.center-all
	.top-hold
		+btns_Main({link:'grupo', elId:'grupo_home', name:'Construyendo Responsablemente', info:'Grupo Maiz es una empresa que busca las mejores opciones que permitan elevar los estándares de calidad de vida.'})
		+btns_Main({link:'servicio', elId:'servicio_home', name:'Servicio de calidad mundial', info:'Grupo Maiz se especializa en soluciones creativas, rentables y sostenibles para proyectos de diseño... '})
	
	.bottom-hold
		
		a(href="http://maiz.com/qa/proyectos")
			.thirds.tercios#proyectos_home
				+btns_frame({elId:'proyectos_home', info:'Proyectos'})
		a(href="http://maiz.com/qa/portafolio")
			.thirds.tercios#portafolio_home
				+btns_frame({elId:'portafolio_home', info:'Portafolio'})
		a(href="http://maiz.com/qa/desarrollo")
			.thirds.tercios#desarrollo_home
				+btns_frame({elId:'desarrollo_home', info:'Desarrollo'})
		a(href="http://maiz.com/qa/bolsa-de-trabajo")
			.thirds.tercios#bolsa_home
				+btns_frame({elId:'bolsa_home', info:'Bolsa de trabajo'})
		a(href="http://maiz.com/qa/blog")
			.thirds.tercios#blog_home
				+btns_frame({elId:'blog_home', info:'Blog'})
		a(href="http://maiz.com/qa/contacto")
			.thirds.tercios#contacto_home
				+btns_frame({elId:'contacto_home', info:'Contacto'})
