.proyectosHold.safeArea.center-all
	a(href="#")
		.proyectsBtns.thirds.tercios#energia_proyectos
			+btns_frame({elId:'energia_proyectos', info:'Generación de Energía'})

	#tileProyectos.proyectsBtns
		#tileProyectos-btn
		.infoThis
			h1 PROYECTOS
		.line
		.txtInfo
			p Somos expertos en diversos alcances según tu proyecto.

	a(href="#")
		.proyectsBtns.thirds.tercios#corporativos_proyectos
			+btns_frame({elId:'corporativos_proyectos', info:'Corporativos'})
	a(href="#")
		.proyectsBtns.thirds.tercios#mision_proyectos
			+btns_frame({elId:'mision_proyectos', info:'Misión Crítica y Data Centers'})
	a(href="#")
		.proyectsBtns.thirds.tercios#naves_proyectos
			+btns_frame({elId:'naves_proyectos', info:'Naves Industriales'})
	a(href="#")
		.proyectsBtns.thirds.tercios#distribucion_proyectos
			+btns_frame({elId:'distribucion_proyectos', info:'Centro de distribución'})
	a(href="#")
		.proyectsBtns.thirds.tercios#urbanizacion_proyectos
			+btns_frame({elId:'urbanizacion_proyectos', info:'Urbanizacion'})
	a(href="#")
		.proyectsBtns.thirds.tercios#parques_proyectos
			+btns_frame({elId:'parques_proyectos', info:'Parques Industriales'})
