.holderBtn, .mainImg, .hoverInfo, .squareHold
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
.hoverInfo

	h3 
		color: $blanco
		text-align: center
		margin-top: 20%
.squareHold
	.lines 
		position: absolute
		background-color: $blanco
	.bottom-line, .top-line		
		height: 8px
		width: 0%
	.left-line, .right-line
		width: 8px
		height: 0%
	.left-line
		left: 0
		top: 0
	.bottom-line
		bottom: 0
		left: 0
	.right-line
		bottom: 0
		right: 0
	.top-line		
		top: 0
		right: 0
