.top-hold
	width: 100%
	height: 50%
	position: relative
	.halfs
		height: 100%
		&#grupo_home
			background-color: red
		&#servicio_home
			background-color: yellow
.bottom-hold
	width: 100%
	height: 40%
	position: relative	
	.thirds
		height: 50%
		&:nth-child(odd)
			background-color: #FFF
