nav 
	width: 100%
	height: 100px
	position: relative
	background-color: #FFF
	overflow: hidden
	p
		color: #fff
	#logo
		width: 152px
		height: 76px
		float: left
		position: relative
		margin-top: 20px
		background-image: url("../assets/images/logo.png")
		background-position: left


	.wrapp-nav
		width: 892px
		height: 100%
		position: absolute
		right: 0px
		.links
			width: 100%
			height: 100%
			position: relative
			float: right
			display: block
			.innerLinks
				position: relative
				padding-top: 40px
				padding-left: 10px
				padding-right: 10px
				float: left
				margin-right: 20px
				height: 60px
				opacity: 1
				cursor: pointer
				p 
					color: $azul-oscuro
					position: relative
				&:hover
					.hoverColor
						height: 100%
				.hoverColor
					width: 100%
					height: 0%
					position: absolute
					top: 100%
					left: 0
					background-color: $naranja







