@import "_vars"
@import "_fonts"

@import "_btns"

@import "_nav"
@import "_home"
@import "_footer"

html,body
	margin: 0 auto
	min-width: 1280px
	width: 100%
	min-height: 754px
	height: 100%
	font-family: 'normal'
	overflow: scroll

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input
	color: #1C5EA6
	text-decoration: none

p
	margin: 0 auto
	font-size: 20px
	line-height: 35px

sub
	font-size: 10px
	top: -8px
	position: relative
	color: #fff
	left: -3px
	font-family: 'normal'


h2
	font-family: 'normal'
	font-size: 33px
	margin: 0 auto
h3
	font-family: 'normal'
	font-size: 30px
	margin: 0 auto

h1
	text-align: left
	margin: 0
	font-size: 60px
	color: $blanco
	font-family:  'normal'


ul 
	padding-left: 22px
	list-style: none
	
ul li
	font-family:  'normal'
	font-size: 13px
	line-height: 19px
	text-indent: -5px
	

input
	outline: none
	border: none


.autoalpha-0
	opacity: 0
	visibility: hidden

.align-center
	text-align: center

.center-all,
.center-horizontal,
.center-vertical
	position: absolute
	margin: auto

.center-all,
.center-horizontal
	left: 0
	right: 0

.center-all,
.center-vertical
	top: 0
	bottom: 0

.btn-borders
	border-radius: 5px
	
.hold-bg
	min-width: 1280px
	width: 100%
	min-height: 754px
	height: 100%
	position: absolute
	top: 0
	left: 0
	.top-bg
		width: 100%
		height: 50%
		position: relative
		background: url("../assets/images/gui/bg_home/top-bg-home.jpg")
		-webkit-background-size: cover
		-moz-background-size: cover
		-o-background-size: cover
		background-size: cover
	.bttm-bg
		width: 100%
		height: 50%
		position: relative
		background-color: $azul-oscuro
.medios
	width: 50%
	float: left
	position: relative
.tercios
	width: 33.33%
	float: left
	position: relative
.tercios-big
	width: 66.6%
	float: left
	position: relative
	
		

#wrapper
	width: 100%
	min-height: 754px
	height: 100%
	position: relative
	margin: 0 auto
.safeArea
	width: 1280px
	height: 100%




