.grupoHold.safeArea.center-all
	.innerGrupo
		.slider_grupo
			.holde_slide
				.img_slide#img-1
		.holdinfo
			.safe-in
				h3 Grupo Maíz es una empresa de clase mundial
				.lineIt
				p Grupo Maiz es una empresa de clase mundial, en la búsqueda permanente de opciones que permitan elevar los estándares de calidad de vida de los habitantes de la comunidades donde realiza sus proyectos.
				p Durante más de cuatro décadas, Grupo Maiz se ha dedicado apasionada y responsablemente a la construcción de espacios al servicio del hombre, desarrollando importantes proyectos tanto en México como en Brasil, Argentina, Centro América y Estados Unidos, en alianza con reconocidas firmas internacionales.
				p Solidez financiera, innovación, altos estándares de calidad, tecnología y desarrollo sostenible, son los elementos que han permitido crear una importante base de clientes satisfechos, y el reconocimiento en el mercado como empresa líder capaz de transformar los deseos en realidades y las ideas en hechos.
				.holdFernando
					.imgHold
						.laImg
						p Fernando Maíz
					.txts
						p ‘Ser líder integrador de recursos estratégicos para el desarrollo, implementación y ejecución de proyectos vanguardistas.’
						.bigs
							h1 Calidad Servicio Integridad
						.bigs
							h1 Innovación Liderazgo
				p En Grupo Maiz nuestra gente representa una importante ventaja competitiva. El talento, conocimiento y motivación de nuestro personal es el pilar que sustenta todas las estrategias y esfuerzos para el desarrollo de un proyecto.
				p Creemos en el trabajo en equipo porque somos conscientes de que nuestros clientes necesitan mucho más que productos y servicios de calidad. La sinergía lograda en los equipos de trabajo es lo que permite brindar verdaderas soluciones a nuestros clientes



